<template>
  <el-table :data="list"  :row-style="TableRowStyle" highlight-current-row style="width: 100%;height100%;padding-top: 15px;">
 <!--    <el-table-column label="id" align="center">
        <template slot-scope="{row}">
          <span>{{ row.id }}</span>
        </template>
      </el-table-column>-->
      <el-table-column label="时间" align="center">
        <template slot-scope="{row}">
          <span>{{ row.timeStamp }}</span>
        </template>
      </el-table-column>
      <el-table-column label="托盘" align="center">
        <template slot-scope="{row}">
          <span>{{ row.palletNo }}</span>
        </template>
      </el-table-column>
      <el-table-column label="任务号" align="center">
        <template slot-scope="{row}">
          <span>{{ row.taskCode }}</span>
        </template>
      </el-table-column>
      <el-table-column label="物料" align="center">
        <template slot-scope="{row}">
          <span>{{ row.materialCode }}</span>
        </template>
      </el-table-column>
      <el-table-column label="取地址" align="center">
        <template slot-scope="{row}">
          <span>{{ row.sourceMappingAddress }}</span>
        </template>
      </el-table-column>
        
      <el-table-column label="放地址" align="center">
      	<template slot-scope="{row}">
          <span>{{ row.destinationMappingAddress }}</span>
        </template>
        
      </el-table-column>
            <el-table-column label="Actions" align="center"  class-name="small-padding fixed-width">
        <template slot-scope="{row,$index}">
          <el-button type="primary" size="mini" @click="deleteTask(row.id)">
            	删除
          </el-button>
        </template>
      </el-table-column>
  </el-table>
</template>

<script>
import { transactionList,deleteStackingTask,reSendCurrentStacking,reSendNextStacking} from '@/api/remote-search'

export default {
  data() {
    return {
      list: null
    }
  },
  created() {
    this.fetchData()
  },
  methods: {
  	reSendCurrentStacking(){
  		let that=this;
  		reSendCurrentStacking().then(response=>{
  		  that.fetchData();
      	this.$notify({
        	title: 'Success',
        	message: 'resend current Successfully',
        	type: 'success',
        	duration: 2000
      })
  		})
  	},
  	reSendNextStacking(){
  		let that=this;
  		reSendNextStacking().then(response=>{
  		  that.fetchData();
      	this.$notify({
        	title: 'Success',
        	message: 'resend next Successfully',
        	type: 'success',
        	duration: 2000
      })
  		})
  	},
    fetchData() {
      transactionList().then(response => {
        this.list = response.data
        console.log(this.list)
      })
    },
    TableRowStyle({row, rowIndex}) {
    	let stylejson={}
			if (row.status === 9) {
				stylejson.backgroundColor='#33FF33'
				return stylejson
			}
			return ''
		},
		deleteTask(id){
			let that=this;
			deleteStackingTask({'id':id}).then(response =>{
				that.fetchData();
      	this.$notify({
        	title: 'Success',
        	message: 'Delete Successfully',
        	type: 'success',
        	duration: 2000
      })
			})
		}
  }
 }
</script>
